  store:
      # data-only container
      image: postgres:latest # reuse postgres container
      volumes:
          - /var/lib/postgresql/data
      command: "true"

  postgres:
      image: postgres:latest
      ports:
          - "5432" # random available host port will be chosen, same as -P
      volumes_from:
          - store # connect postgres and the data-only container
      environment:
          - POSTGRES_PASSWORD=mypass
          # you can also set the postgres username and database name

  go:
      build: ./api
      links:
          - postgres:db # [other container]:[alias in this container]
          # this will create environment variables in the go container
          # with ip and port info for the postgres container
          # also creates entries in /etc/hosts with ip info
      ports:
          - "8080" # this is port i'm exposing in the container

