store:
  # data-only container
  restart: always
  image: kano/rpi-postgres # reuse postgres container
  volumes:
      - /var/lib/postgresql/data
  command: "true"

postgres:
  restart: always
  image: kano/rpi-postgres
  ports:
      - "5432" # random available host port will be chosen, same as -P
  volumes_from:
      - store # connect postgres and the data-only container
  environment:
      - POSTGRES_PASSWORD=password_postgres
      # you can also set the postgres username and database name

go:
  restart: always
  build: ./api
  ports:
    - 8080:8080
  links:
    - postgres:db
